body{
    position: relative;
}
.ai{
    background-color: yellow;
    color: black;
    position: fixed;
    top: 90%;
    right: 0;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    border: solid rgb(255, 230, 0) 1px;
    z-index: 1000;
    transition: transform 0.25s ease-in 0.25;

}
.ai:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}